pre {
	border-left-color: #5bc0de;
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 1px solid #eee;
		border-left-color: rgb(238, 238, 238);
		border-left-width: 1px;
	border-left-width: .25rem;
	border-radius: .25rem;
}

pre code {
	font-size: inherit;
	color: #e83e8c;
	word-break: normal;
}
